<div class="sensor_networks_index">

  <h3>
    Sensor Networks
  </h3>
  
  <table id="sensor_networks" class="table table-striped" style="width:100%">
    <thead>
      <tr>
        <th>Network Name</th>
        <th>Id</th>
        <th>Sensor Name</th>
        <th>ID</th>
        <th>Heartbeat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>EthernetGateway_Bldg16_2053</td>
        <td>90106</td>
        <td>CO2 Meter - 655579</td>
        <td>655579</td>
        <td>1</td>
      </tr>
      <tr>
        <td>EthernetGateway_Bldg16_2053</td>
        <td>90106</td>
        <td>Duct Temperature - 653102</td>
        <td>653102</td>
        <td>1</td>
      </tr>
      <tr>
        <td>EthernetGateway_Bldg16_2053</td>
        <td>90106</td>
        <td>LightSensor - 655693</td>
        <td>655693</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>

</div>